#Mars_html {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    background-color: rgb(194, 69, 69);
}

#Mars_body{
    width:fit-content;
    margin: 20px 20px;
    background-color: rgb(250, 200, 177);
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(138, 6, 6);;
}

#заголовок {
    text-align: center;
    font-size: 40px;
    margin: 10;
}

#mars-img {
    display: block;
    margin: 0 auto;
}

#клик {
    color: rgb(120, 120, 120);
    text-align: center;
}

#зглвк-общ-свднй {
    color: rgb(10, 30, 160);
    font-size: 20px;
}

#общ-свдния {
    color: rgb(10, 30, 160);
}

a:visited {
    color: #4667fa;
}

a:hover {
    color: rgb(228, 18, 228);
}

#доп-инфа {
    color: rgb(20, 20, 20);
}

#другие-планеты {
    color: rgb(0, 0, 0);
}

#pluto:hover {
    color: rgb(233, 91, 91);
}

#earth:hover {
    color: rgb(16, 186, 238);
}

#saturn:hover {
    color:rgb(177, 129, 59)
}